<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/header") %>
  </head>
  <body>
    <%- include("components/navbar") %>
    <main>
      <h1>Contact</h1>
    </main>
    <%- include("components/footer") %>
  </body>
</html>
